/**
 * @file
 * Admin styles for EME.
 */

.eme-horizontal-line {
  display: flex;
}

.eme-horizontal-line::before,
.eme-horizontal-line::after {
  display: flex;
  flex: 1 1 auto;
  margin: 0 1em;
  content: "";
  transform: translateY(50%);
  border-color: var(--color-divider, #888);
  border-top: 1px solid;
}
